.navbar {
  background-color: #286a91;
  display: flex;
  justify-content: center;
}

.navbar a,
.dropbtn {
  font-family: Arial;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  border: none;
  background-color: #286a91;
  font-size: 16px;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: rgb(34, 69, 109);
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #286a91;
  min-width: 180px;
}

.dropdown-content a {
  display: block;
}

.dropdown-content a:hover {
  background-color: rgb(34, 69, 109);
}

.dropdown:hover .dropdown-content {
  display: block;
}