body {
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #286a91;
  display: flex;
  justify-content: center;
}

ul li a {
  font-family: Arial;
  display: block;
  color: rgb(255,255,255);
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #235b7c;
}
