ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #286a91;
  display: flex;
}

ul li a {
  font-family: ariel;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #4c61d4;
}